[tool.black]
line-length = 100
target-version = ["py313"]
include = '\\.(py|pyi)$'
exclude = '''
(
  /(
      \.git
    | \.venv
    | __pycache__
    | build
    | dist
    | migrations
  )/
)
'''

[tool.basedpyright]
pythonVersion = "3.13"
reportMissingImports = true
reportMissingTypeStubs = false
typeCheckingMode = "basic"
